/* ------------------- CSS RESET ------------------- */
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;

    background-color: #e7e7e7;
}
ol, ul {
    list-style: none;
}

/*  MAIN  */
main {
    padding-bottom: 5rem;
}

/* Sticky Class Designed to provide Sticky Property to the Navbar using JavaScript */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
/* ------------------- HEADER - NAV BAR ------------------- */
.header-nav {
    background-color: #e7e7e7;
    overflow: hidden;

    margin: auto;
    width: 100%;
    padding: 2rem 5rem;

    display: flex;
    align-items: center;

    transition: 0.3s; /* transition for navShrink() */
}
    .header-nav li a, .jc {  /* Nav text styling */
        text-decoration: none;
        font-family: 'Segoe UI', Verdana, sans-serif;
        font-size: 1rem;
        color: rgb(31, 31, 31);
    }
        
.nav-logo {
    margin-right: auto;

    display: flex;
    align-items: center;
    column-gap: 10px;
}


.nav-ul {
    background-color: transparent;
    display: flex;
    align-items: center;
    column-gap: 3rem; 
}
    .nav-ul li {
        position: relative;
        color: #000;
        text-decoration: none;
    }
    .nav-ul li:not(:last-child):hover {
        color: #000;
    }
    .nav-ul li::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000;
        transform: scaleX(0);
        transform-origin: top left;
        transition: 0.3s ease;
    }
    .nav-ul li:hover::before {
        transform: scaleX(1);
    }

/* --------------> Nav Button */
.nav-button {
    background-color: transparent;
    color: rgb(31, 31, 31);
    border: 1px solid rgb(31, 31, 31);
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    transition: 0.3s;

    font-family: 'Segoe UI', Verdana, sans-serif; 
}
    .nav-button:hover {
        background-color: rgb(41, 41, 41);
        color: #e7e7e7;
    }


@media (width <= 1000px) {
    .nav-logo a:last-child {
        display: none;
    }
}
@media (width <= 799px) {
    .main-menu {
        flex-direction: column;
        height: 100vh;
        position: fixed;
        z-index: 10;
        background: #000;
        transition: top 1s ease;
        display: none;
    }
}
/* ------------------- HEADER - LANDING PAGE ------------------- */
.landing-page {
    max-width: 80%;
    margin: auto;
    padding: 80px 0 150px 0;

    display: grid;
    grid-template-columns: 1fr 1.7fr;
    grid-template-rows: auto;
    column-gap: 5%;
}

.hero-container {
    min-width: 15rem;
    height: fit-content;
    background-image: linear-gradient(#e7e7e7 30%, rgb(206, 206, 206));
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    
    z-index: -1;
}
    .hero {
        max-width: 100%;
        transform: rotateY(180deg)
    }

.landing-text {
    min-width: 40%;
}
    .landing-text h1 {
        font-family:system-ui, -apple-system, Cantarell, 'Open Sans', sans-serif;   
        font-weight: bold;
        font-size: 4.3vmax;
        color: rgb(41, 41, 41);

        margin-top: 0;
        padding-top: 0;
    }
    .landing-text p {
        margin-top: 5%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2.5vmax;
        line-height: 150%;

        color: rgb(53, 53, 53);
    }
    
    .landing-button-container {
        margin-top: 10%;

        max-width: 4rem;
        min-width: 2px;
        height: auto;
    
    }
    .landing-button {
        content: url('images/down.png');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: auto;

        transition: all 0s ease-in-out;
        z-index: -1;
    }
        .landing-button:hover {
            transform: scale(110%);
        }

@media (1000px <= width <= 1370px) {
    .landing-text p {
        margin-top: 1rem;
        line-height: 150%;
    }
}

/* MAIN TAG */
main {
    max-width: 70%;
    margin: auto;
    padding-top: 5%;
}
main section {
    padding-bottom: 6rem;
    border-bottom: 1px solid #bbbbbb;
    margin-bottom: 3rem;
}
main h1, p, span, a {
    font-family: system-ui, sans-serif;
}
main h1 {
    font-family: system-ui, 'Open Sans', sans-serif;
    text-align: center;   
    font-weight: bold;
    font-size: 3rem;   
    color: rgb(41, 41, 41);

    padding-bottom: 1rem
}

/* ------------------- ABOUT ME SECTION ------------------- */

/* .about-me h1 {
    font-family: system-ui, 'Open Sans', sans-serif;
    text-align: center;   
    font-weight: bold;
    font-size: 3rem;   
    color: rgb(41, 41, 41);

    padding-bottom: 1rem
} */
.about-me p {
    margin-top: 1rem;
    padding-bottom: 3rem;
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-size: 1.5rem;
    line-height: 160%;
    color: rgb(53, 53, 53);
    text-align: center;
}

/* --------------> Interest List */
.interest-list {
    /* padding-bottom: 6rem; For border bottom spacing for each main section */

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}
    
.card {
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-size: 1rem;
    text-align: center;
    white-space: nowrap;

    background-color: transparent;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    transition: 0.3s;
}
    .card:hover {
        scale: 110%;
        background-color: black;
        color: white;
    }

/* -------------------  PERSONAL GALLERY SECTION ------------------- */











/* FOOTER */
footer h1, h2, p, a  {
    font-family: system-ui, 'Open Sans', sans-serif;
}

footer p, a {
    font-size: 1.5rem;
}
    footer a {
        color: black;
        text-decoration: none;

        transition: 0.5s ease;
    }
    footer a:hover {
        scale: 102%;
    }

/* Contact Section */

.contact {
    padding-bottom: 4rem;
}
.contact-me {
    font-family: system-ui, 'Open Sans', sans-serif;
    text-align: center;   
    font-weight: bold;
    font-size: 3rem;   
    color: rgb(41, 41, 41);

    padding-bottom: 3rem
}
.contact-form-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

    max-width: 70%;
    margin: auto;
    padding-bottom: 3rem;
}
    .contact-form-text, .contact-form-input {
        width:48%;
    }
    .contact-form-text p {
        padding-bottom: 2.5rem;
    }
    .contact-form-text div {
        padding-bottom: 2rem;
    }
    .email img, .github img {
        max-width: 40px;
        height: auto;
    }
    .email, .github{
        display: flex;
        align-items: center;

        column-gap: 1rem;
    }
    .contact-form-input h2 {
        padding-bottom: 1rem;
    }

.contact-form-input input, textarea {
    width: 100%;

    font-family:  system-ui, 'Open Sans', sans-serif;
    font-size: 1.2rem;

    padding: 0.5rem;
}
    .contact-form-input form {
        display: flex;
        flex-direction: column;

        row-gap: 1rem;
    }
    .form-button {
        font-size: 1.5rem;
    }
.copyright {
    background-color: rgb(206, 206, 206);
    text-align: center;
    padding: 5rem 0;
}




    